<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/uploadPhoto.css" />
    <title>Upload Cover Photo</title>
  </head>
  <body>
    <!-- nav start -->
    <%- include('../partials/navbar.ejs') %>
    <!-- nav end -->
    <div class="form-container">
      <!-- icon -->
      <h1>Upload Cover photo</h1>
      <p>
        <!-- upload icon -->
      </p>
      <% if(err){ %>
      <small class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%-err%>
      </small>
      <% } %>
      <form
        action="/api/v1/users/cover-photo-upload?_method=PUT"
        enctype="multipart/form-data"
        method="POST"
      >
        <label for="email">Select Imgae</label>
        <input type="file" name="coverImage" id="image" />
        <button type="submit">
          <i class="fas fa-upload"></i>
        </button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
